# Environments
venv/
env/
.env

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Data & Model Binaries (Large Files)
artifacts/*.joblib
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db